{
  "title" "LammpsExample2_diamond_Si: energy-volume curve of diamond Silicon"
  "extended-id" "LammpsExample2_diamond_Si__TE_837477125670_002"
  "test-driver" "LammpsExample2__TD_887699523131_002"
  "species" [
    "Si"
  ]
  "author" "Daniel Karls"
  "description" "This example Test illustrates the use of LAMMPS in the openkim-pipeline to compute an energy vs.\nlattice constant curve for diamond Silicon.  The curve is computed for lattice constants\nranging from  Angstroms to  Angstroms, with most lattice spacings sampled about\n Angstroms."
  "contributor-id" "4d62befd-21c4-42b8-a472-86132e6591f3"
  "maintainer-id" "4d62befd-21c4-42b8-a472-86132e6591f3"
  "publication-year" "2014"
  "kim-api-version" "1.9.0"
  "pipeline-api-version" "1.0"
  "domain" "openkim.org"
}
