# Sources
*.cc linguist-language=cpp
*.cxx linguist-language=cpp
*.cpp linguist-language=cpp
*.c++ linguist-language=cpp
*.hpp linguist-language=cpp
*.h linguist-language=c
*.h++ linguist-language=cpp
*.hh linguist-language=cpp

# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary