{
  "title" "LammpsExample2: energy-volume curve for monoatomic cubic lattice" 
  "extended-id" "LammpsExample2__TD_887699523131_002" 
  "simulator-name" "LAMMPS" 
  "properties" [
    "tag:staff@noreply.openkim.org,2014-04-15:property/cohesive-energy-relation-cubic-crystal"
  ] 
  "author" "Daniel Karls" 
  "description" "This example Test Driver illustrates the use of LAMMPS in the openkim-pipeline\nto compute an energy-volume curve (more specifically, a cohesive energy-lattice\nconstant curve) for a given cubic lattice (fcc, bcc, sc, diamond) of a single given\nspecies. The curve is computed for lattice constants ranging from a_min to a_max,\nwith most samples being about a_0 (a_min, a_max, and a_0 are specified via stdin.\na_0 is typically approximately equal to the equilibrium lattice constant.). The precise\nscaling of sample points going from a_min to a_0 and from a_0 to a_max is specified\nby two separate parameters passed from stdin.  Please see README.txt for further\ndetails." 
  "contributor-id" "4d62befd-21c4-42b8-a472-86132e6591f3" 
  "maintainer-id" "4d62befd-21c4-42b8-a472-86132e6591f3" 
  "publication-year" "2014" 
  "kim-api-version" "1.9.0" 
  "pipeline-api-version" "1.0" 
  "executables" [
    "runner" 
    "test_template/template_"
  ] 
  "domain" "openkim.org"
}
