{
  "title" "LammpsExample: cohesive energy and equilibrium lattice constant of fcc argon"
  "extended-id" "LammpsExample__TE_565333229701_004"
  "test-driver" "LammpsExample__TD_567444853524_004"
  "species" [
    "Ar"
  ]
  "author" "Daniel Karls"
  "description" "This example Test illustrates the use of LAMMPS to compute the cohesive energy of fcc argon using conjugate gradient minimization with an initial guess of 5.3 Angstroms for the equilibrium lattice constant.  The fractional coordinates of the atoms are held fixed during the minimization."
  "contributor-id" "4d62befd-21c4-42b8-a472-86132e6591f3"
  "maintainer-id" "4d62befd-21c4-42b8-a472-86132e6591f3"
  "publication-year" "2018"
  "kim-api-version" "1.9.0"
  "executables" [
    "runner"
  ]
  "domain" "openkim.org"
}
